
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #323;
    line-height: 1.5;
}

header {
    background: #4b6cb7;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;

}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


main {
    padding: 30px 40px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

main img {
    max-width: 200px;
    border-radius: 10px;
    margin: 20px 0;
}


footer {
    background-color: #182848;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

footer a {
    color: #f0f0f0;
    margin: 0 5px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
 .horari {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  .horari th, .horari td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
  }
  .capçalera {
    background-color: #4CAF50;
    color: white;
  }
  .classe {
    background-color: #c8e6c9;
  }
  .entreno {
    background-color: #bbdefb;
  }
  .marracos {
    background-color: #e1bee7;
  }
  .deures {
    background-color: #ffe0b2;
  }
  .dinar {
    background-color: #fff9c4;
  }